body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:725px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u51 {
  position:absolute;
  left:330px;
  top:26px;
  width:375px;
  height:812px;
}
#u52 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53 {
  position:absolute;
  left:570px;
  top:243px;
  width:36px;
  height:40px;
}
#u54 {
  position:absolute;
  left:2px;
  top:12px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:80px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u56 {
  position:absolute;
  left:695px;
  top:806px;
  width:29px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u57 {
  position:absolute;
  left:0px;
  top:32px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:62px;
}
#u58 {
  position:absolute;
  left:300px;
  top:0px;
  width:425px;
  height:62px;
}
#u59 {
  position:absolute;
  left:2px;
  top:23px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u60 {
  position:absolute;
  left:300px;
  top:62px;
  width:30px;
  height:803px;
}
#u61 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:59px;
}
#u62 {
  position:absolute;
  left:330px;
  top:806px;
  width:367px;
  height:59px;
}
#u63 {
  position:absolute;
  left:2px;
  top:22px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u64 {
  position:absolute;
  left:695px;
  top:62px;
  width:30px;
  height:803px;
}
#u65 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
