body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:726px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u55 {
  position:absolute;
  left:330px;
  top:26px;
  width:375px;
  height:812px;
}
#u56 {
  position:absolute;
  left:2px;
  top:398px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u57 {
  position:absolute;
  left:432px;
  top:198px;
  width:237px;
  height:66px;
}
#u58 {
  position:absolute;
  left:2px;
  top:25px;
  width:233px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u60_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:80px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u60 {
  position:absolute;
  left:696px;
  top:806px;
  width:29px;
  height:80px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u61 {
  position:absolute;
  left:0px;
  top:32px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:62px;
}
#u62 {
  position:absolute;
  left:301px;
  top:0px;
  width:425px;
  height:62px;
}
#u63 {
  position:absolute;
  left:2px;
  top:23px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u64 {
  position:absolute;
  left:301px;
  top:62px;
  width:30px;
  height:803px;
}
#u65 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:59px;
}
#u66 {
  position:absolute;
  left:331px;
  top:806px;
  width:367px;
  height:59px;
}
#u67 {
  position:absolute;
  left:2px;
  top:22px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u68 {
  position:absolute;
  left:696px;
  top:62px;
  width:30px;
  height:803px;
}
#u69 {
  position:absolute;
  left:2px;
  top:394px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u70 {
  position:absolute;
  left:454px;
  top:762px;
  width:41px;
  height:44px;
}
#u71 {
  position:absolute;
  left:2px;
  top:14px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72 {
  position:absolute;
  left:538px;
  top:756px;
  width:55px;
  height:40px;
}
#u73 {
  position:absolute;
  left:2px;
  top:12px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:47px;
}
#u74 {
  position:absolute;
  left:625px;
  top:759px;
  width:60px;
  height:47px;
}
#u75 {
  position:absolute;
  left:2px;
  top:16px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
